<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <?php
    include 'HeaderAdmin.html';
    ?>
    <div class="content">
      <img
        src="https://i.pinimg.com/564x/a0/80/57/a08057ebad40b41fa1750364083adfd3.jpg"
        alt=""
      />
    </div>
  </body>

  <style>
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</html>
