<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <?php
   
    
      include 'Header.html';
    
   
    ?>
    <div class="content">
      <img
        src="https://i.pinimg.com/564x/ec/18/8b/ec188b40fb4ed72adb7a0057db01a258.jpg"
        alt=""
      />
    </div>
  </body>
  <style>
    .content {
          display: flex;
            justify-content: center;
          align-items: center;
  </style>
</html>
